*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #a9a9a9;  
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 4rem;
    background-color: #000000;
    color: #FFD700;
}

.banner button{
    background-color: #000000;
    color: #FFD700;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 1rem;
    border-radius: 10%;
}

.banner button:hover{
    background-color: #2c2c2c;
}

.navMenu{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
    background-color: #ffffff;
  }

  .line {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    transition: all 0.3s ease;
  }
  

  .line1 {
    transform-origin: top left;
  }
  
  .line2 {
    opacity: 1;
  }
  
  .line3 {
    transform-origin: bottom left;
  }
  
  .navMenu:hover .line1 {
    transform: rotate(45deg) translateY(10px);
  }
  
  .navMenu:hover .line2 {
    opacity: 0;
  }
  
  .navMenu:hover .line3 {
    transform: rotate(-45deg) translateY(-10px);/
  }

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑navbar↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/*--------------------------------------------------------------------*/
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓body↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.formZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #a9a9a9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 1rem;
    width: 25%;
    background-color: #FAF9F6;
    border: 1px solid #000000;
    border-radius: 5%;
    box-shadow: 0px 0px 10px #00000066;
    position: relative;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    box-shadow:inset 0px 0px 10px #dfdfdf;
    pointer-events:none;
}

h1{
    margin: 1rem;
}

h2{
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 1rem;
}

.form input{
    border-radius: 3px;
    box-shadow: 0 0 5px #0000003f;
}

.form input:hover{
    background-color:#EAE9E6;
}

.form input:focus{
    outline: solid 1px #000000;
    box-shadow:0 0 5px #0000003f inset;
}

.carColor {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
}

.carColor input {
    width: 70%;
}

.carLogo {
    height: 3rem;
    width: 30%;
    margin-left: 1rem;
}

.carLogo:hover{
    animation: engine-start 0.1s;
}

.nxtBtn{
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.next{
    width: 50%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #000000;
    color: #FFD700;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑body↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/*--------------------------------------------------------------------*/
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓footer↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.footer{
    height: 3rem;
    width: 100%;
    background-color: #000000;
    border-top: 1px solid #FFD700;
    border-radius: 8px 8px 0 0;
}

@keyframes engine-start {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(1px, 0px) rotate(2deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-1px, 0px) rotate(-2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

.form input:not(.carColor input) {
    height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dropdown-content span{
    position: relative;
}

.dropdown-content span div{
    position: absolute;
    top: 0.18rem;
    left: 3rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/*offset strano, non regolare*/
.red{
    background-color: #ff0000;
}
.blue{
    background-color: #0719bb;
}
.black{
    background-color: #000000;
}

/*--------------------------------------------------------------------------*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ffffff;
    border: 0.5px solid #00000056;
    color: #000000;
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------------------------------*/

@media (max-width: 768px) {
    header {
        display: none;
    }

    body {
        background-color: rgb(221, 232, 236);
    }

    h1 {
        margin: 10px 0;
    }

    h2 {
        font-size: small;
        margin-top: 0;
    }

    .container {
        width: 100%;
        border: none;
        margin: 0;
        border-radius: 0;

    }

    .container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-shadow:inset 0px 0px 10px #dfdfdf;
        border-radius: 0;
        pointer-events:none;
    }   

    .form {
        width: 60%;
        margin-bottom: 0;
    }

    .carColor .img {
        color: #ff0000;
    }

    footer{
        display: none;
    }
}